* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrapper {
  margin: 2% 0 7% 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}

.btn-secondary {
  margin-top: 4%;
  width: 100%;
  padding: 12px;
  background: #f0f0f0;
  color: #0AAD0A;
  border: 2px solid #0AAD0A;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
  background: #0AAD0A;
  color: white;
}

.form-group h1 {
  font-weight: 700;
}

.login-form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.span {
  color: #0AAD0A;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #0AAD0A;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.graph {
  text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #0be428;
}

.login-image img {
  width: 100%;
}

@media (max-width:755px) {
  .login-container {
    flex-direction: column-reverse;
  }
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #0AAD0A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background: #06dc06;
}

@media (max-width: 600px) {
  .login-form {
    margin: 10% 0 0 0;
    padding: 20px;
  }

  h2 {
    font-size: 1.6rem;
  }

  .btn-primary {
    font-size: 0.9rem;
  }

  .login-wrapper {
    margin-top: 20%;
  }
}